[submodule "deps/seqan3"]
	path = deps/seqan3
	url = https://github.com/seqan/seqan3.git
[submodule "deps/ThreadPool"]
	path = deps/ThreadPool
	url = https://github.com/progschj/ThreadPool
[submodule "deps/boost-cmake"]
	path = deps/boost-cmake
	url = https://github.com/Orphis/boost-cmake.git
